@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --main-green: #26805a;
  --active-color: #0b5e3d;
  --main-darkblue: #172b4d;
  --nav-darkblue: #344563;
  --gray-border: #c1c7d0;
  --paragraph-blue: #42526e;
  --welcome-color: #28352f;
  --last-bar-color: #0d151e;
  --card-background-color: #ebf0ee;
  --tag-color: #3a4a42;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  max-width: 860px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
}

.top-navigation-container {
  position: fixed;
  inset: 0.5rem auto auto auto;
}

.top-navigation {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--nav-darkblue);
  padding: 0.8rem;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--welcome-color);
}

.headline {
  width: 100%;
  height: min(100vh, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3rem 2rem 0 2rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

.name {
  color: var(--main-darkblue);
}

.ocupation {
  color: var(--main-green);
}

.headline .description {
  text-align: center;
  width: min(100%, 500px);
}

.social-container ul {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 0.5rem;
  justify-content: center;
}

li {
  list-style: none;
}

.down-icon img {
  border: 1px solid #def1e6;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.work-container h2 {
  color: var(--main-darkblue);
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
}

hr {
  background-color: var(--main-green);
  border-radius: 24px;
  width: 48px;
  height: 4px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.work-grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 1vw;
  margin: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
}

.work-card {
  border: 1px solid #d0d9d4;
  border-radius: 0.6rem;
  padding-top: calc(9 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background-color);
}

.work-card-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: var(--tag-color);
  width: 100%;
}

.work-card-content h3 {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.work-card-content .tags {
  display: flex;
  gap: 0.3rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.work-card-content .tags li {
  border-radius: 0.4rem;
  background-color: var(--card-background-color);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--tag-color);
  text-align: center;
}

.primary-btn {
  background-color: var(--main-green);
  border-radius: 4px;
  padding: 1rem;
  align-self: center;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.primary-btn:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.primary-btn:active {
  background-color: var(--active-color);
  transform: translateY(2px);
}

.about-container {
  margin-top: 1rem;
}

.about-me {
  padding: 30px;
  background-image:
    url(images/about.png),
    url(images/about2.png);
  background-position:
    top -30px right,
    bottom left;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size: min(20%, 7rem);
}

.about-me h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-darkblue);
}

.about-me .description {
  font-size: 20px;
  text-align: center;
  color: var(--paragraph-blue);
  padding-top: 1rem;
  width: min(100%, 60rem);
  display: block;
  margin: auto;
}

.about-me .primary-btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.about-grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 2vw;
  margin: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
}

.about-card {
  border: 1px solid var(--gray-border);
  border-radius: 0.6rem;
  padding-top: calc(1 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background-color);
}

.about-card h3 {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--nav-darkblue);
}

.about-card .tags {
  display: flex;
  gap: 0.3rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.about-card .tags li {
  border-radius: 0.4rem;
  background-color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-green);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}

.form-description {
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
  text-align: center;
  color: var(--main-darkblue);
  flex-basis: 50%;
  display: block;
  margin: 60px 1fr 58px 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 50%;
}

#name,
#email,
#msg {
  padding: 16px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin: auto;
  width: 100%;
}

#name,
#email {
  height: 48px;
  border: 1px solid var(--gray-border);
}

#msg {
  height: 114px;
  border: 1px solid var(--main-green);
}

.developer-email {
  text-align: center;
  color: var(--paragraph-blue);
  font-weight: 400;
  font-size: 20px;
  height: 189px;
  margin-bottom: 100px;
}

.last-bar {
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: var(--last-bar-color);
  border-radius: 10px;
  margin-bottom: 8px;
}

#portfolioRef:hover {
  text-shadow: 1px 1px 2px var(--main-green);
}

#aboutRef:hover {
  text-shadow: 1px 1px 2px var(--main-green);
}

#contactRef:hover {
  text-shadow: 1px 1px 2px var(--main-green);
}

@media only screen and (max-width: 768px) {
  .headline {
    background-image: url(images/background.png);
    justify-content: center;
  }

  .form-responsive-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-btn {
    align-self: flex-end;
  }

  .only-movile {
    display: block;
  }

  .only-desktop {
    display: none;
  }

  header {
    justify-content: space-between;
    width: calc(100% - 2rem);
    margin: auto;
    margin-top: 1rem;
  }

  .form-input-container {
    flex-basis: 100%;
  }

  .work-grid,
  .about-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .headline {
    background-image: url(images/desktop-background.png);
    justify-content: start;
  }

  .form-responsive-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer {
    background-image:
      url(images/bottom-left.png),
      url(images/bottom-right.png);
    background-position:
      bottom left,
      bottom right;
    background-repeat:
      no-repeat,
      no-repeat;
    background-size: min(50%, 21rem), min(20%, 7rem);
  }

  .only-movile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  header {
    justify-content: center;
    gap: 2rem;
  }

  .form-btn-align {
    align-self: start;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  inset: 0 0 -1rem 0;
  border-radius: 0 0 50px 50px;
  padding-top: 9rem;
  padding-left: 2rem;
  gap: 70px;
}

.close-icon {
  display: block;
  position: absolute;
  inset: 0 1rem auto auto;
  opacity: 0.5;
  font-size: 3rem;
}

.big-font {
  font-weight: 800;
  font-size: 50px;
}

.grey-background {
  background-color: #e5e5e5;
}

.hide {
  display: none;
}

.outline {
  outline: auto;
}
