@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
}

.top-navigation-container {
  display: flex;
  gap: 10px;
}

.top-navigation-container a {
  text-decoration: none;
}

.top-navigation {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.headline {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 2rem 0 2rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

.name {
  color: #172b4d;
}

.ocupation {
  color: #36b37e;
}

.headline .description {
  text-align: center;
  width: min(100%, 700px);
}

.social-container ul {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 0.5rem;
  justify-content: center;
}

li {
  list-style: none;
}

.down-icon img {
  border: 1px solid #def1e6;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.work-container h2 {
  color: #172b4d;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
}

hr {
  background-color: #36b37e;
  border-radius: 24px;
  width: 48px;
  height: 4px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.work-grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 1vw;
  margin: 2vw;
}

.work-card {
  border: 1px solid #d0d9d4;
  border-radius: 0.6rem;
  padding-top: calc(9 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
}

.work-card-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #3a4a42;
  width: 100%;
}

.work-card-content h3 {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.work-card-content .tags {
  display: flex;
  gap: 0.3rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.work-card-content .tags li {
  border-radius: 0.4rem;
  background-color: #ebf0ee;
  padding: 0.6rem;
  font-size: 0.5rem;
  font-weight: 600;
  color: #3a4a42;
  text-align: center;
}

.primary-btn {
  background-color: #36b37f;
  border-radius: 4px;
  padding: 0.8rem;
  align-self: center;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 10px;
}

.primary-btn:hover {
  cursor: pointer;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.primary-btn:active {
  background-color: #008552;
  transform: translateY(2px);
}

.about-container {
  margin-top: 1rem;
}

.about-me {
  padding: 30px;
  background-image:
    url("https://marcooquendoc.github.io/Portfolio/images/about.png"),
    url("https://marcooquendoc.github.io/Portfolio/images/about2.png");
  background-position:
    top -30px right,
    bottom left;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size: min(20%, 7rem);
}

.about-me h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #172b4d;
}

.about-me .description {
  font-size: 20px;
  text-align: center;
  color: #42526e;
  padding-top: 1rem;
  width: min(100%, 60rem);
  display: block;
  margin: auto;
}

.about-me .primary-btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.about-grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 2vw;
  margin: 2vw;
}

.about-card {
  border: 1px solid #c1c7d0;
  border-radius: 0.6rem;
  padding-top: calc(1 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
}

.about-card h2 {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: #344563;
}

.about-card .tags {
  display: flex;
  gap: 0.3rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.about-card .tags li {
  border-radius: 0.4rem;
  background-color: #fff;
  padding: 0.6rem;
  font-size: 0.4rem;
  font-weight: 600;
  color: #36b37e;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
}

.form-description {
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  width: min(100%, 700px);
  display: block;
  margin: 60px 1fr 58px 1fr;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#name,
#email,
#msg {
  padding: 16px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin: auto;
  width: 100%;
}

#name,
#email {
  height: 48px;
  border: 1px solid #d0d9d4;
}

#msg {
  height: 114px;
  border: 1px solid #60c095;
}

.form-btn {
  background-color: #36b37f;
  border-radius: 4px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  color: #fff;
}

.form-btn:hover {
  cursor: pointer;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.form-btn:active {
  background-color: #008552;
  transform: translateY(2px);
}

.developer-email {
  text-align: center;
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  height: 189px;
  margin-bottom: 100px;
}

.last-bar {
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 50px) {
  .headline {
    background-image: url("https://marcooquendoc.github.io/Portfolio/images/background.png");
  }

  .form-responsive-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-btn {
    align-self: center;
  }

  .only-movile {
    display: block;
  }

  .only-desktop {
    display: none;
  }

  header {
    justify-content: space-between;
  }

  .form-group {
    width: 93vw;
  }

  .work-grid,
  .about-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
  }
}

@media only screen and (min-width: 769px) {
  .headline {
    background-image: url("https://marcooquendoc.github.io/Portfolio/images/desktop-background.png");
  }

  .form-responsive-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer {
    background-image:
      url(/images/bottom-left.png),
      url(/images/bottom-right.png);
    background-position:
      bottom left,
      bottom right;
    background-repeat:
      no-repeat,
      no-repeat;
    background-size: min(50%, 21rem), min(20%, 7rem);
  }

  .only-movile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  header {
    justify-content: center;
    gap: 2rem;
  }

  .form-btn {
    align-self: start;
  }

  .form-group {
    width: 50vw;
  }

  .work-grid,
  .about-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
