@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --tag-color: #3a4a42;
  --main-green: #36b37f;
  --gray-border: #c1c7d0;
  --nav-darkblue: #344563;
  --active-color: #0b5e3d;
  --welcome-color: #28352f;
  --main-darkblue: #172b4d;
  --paragraph-blue: #42526e;
  --last-bar-color: #0d151e;
  --card-background-color: #ebf0ee;
  --overlay-bg-color: rgba(193, 199, 208, 0.8);
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: auto;
  max-width: 860px;
}

header {
  display: flex;
  max-height: 80%;
  align-items: center;
}

.top-navigation-container {
  position: fixed;
  inset: 0.5rem auto auto auto;
}

.top-navigation {
  font-size: 15px;
  padding: 0.8rem;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  color: var(--nav-darkblue);
}

.welcome {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--welcome-color);
}

.headline {
  width: 100%;
  display: flex;
  height: 600px;
  align-items: center;
  flex-direction: column;
  padding: 3rem 2rem 0 2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title {
  font-size: 2rem;
  margin-top: auto;
  font-weight: 700;
  text-align: center;
  align-self: center;
}

.name {
  color: var(--main-darkblue);
}

.ocupation {
  color: var(--main-green);
}

.headline .description {
  width: 80%;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: auto;
}

.social-container ul {
  gap: 0.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.down-icon img {
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #def1e6;
}

.work-container h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-darkblue);
}

hr {
  width: 48px;
  height: 4px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 24px;
  margin-bottom: 2rem;
  background-color: var(--main-green);
}

#work-grid {
  gap: 1vw;
  margin: 2vw;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.work-card {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  background-color: var(--card-background-color);
}

.work-card-content {
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--tag-color);
  background-color: white;
  justify-content: space-between;
}

.work-card-content h3 {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 1rem;
  text-align: center;
}

.work-card-content .tags {
  gap: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card-content .tags li {
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.4rem;
  color: var(--tag-color);
  background-color: var(--card-background-color);
}

.primary-btn {
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  align-self: center;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  background-color: var(--main-green);
}

.primary-btn:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.primary-btn:active {
  transform: translateY(2px);
  background-color: var(--active-color);
}

.about-container {
  margin-top: 1rem;
}

.about-me {
  padding: 30px;
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    top -30px right,
    bottom left;
  background-size: 7rem;
  background-image:
    url(images/about.png),
    url(images/about2.png);
}

.about-me h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-darkblue);
}

.about-me .description {
  width: 100%;
  margin: auto;
  display: block;
  font-size: 20px;
  padding-top: 1rem;
  text-align: center;
  color: var(--paragraph-blue);
}

.about-me .primary-btn {
  margin: auto;
  display: block;
  margin-top: 1rem;
}

.about-grid {
  gap: 2vw;
  margin: 2vw;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.about-card {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  flex-direction: column;
  padding-top: calc(1 / 12 * 100%);
  border: 1px solid var(--gray-border);
  background-color: var(--card-background-color);
}

.about-card h3 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  text-align: center;
  color: var(--nav-darkblue);
}

.about-card .tags {
  gap: 0.3rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card .tags li {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.4rem;
  color: var(--main-green);
  background-color: #fff;
}

.form-container {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  justify-content: space-between;
}

.form-description {
  display: block;
  font-size: 2rem;
  flex-basis: 50%;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: var(--main-darkblue);
  margin: 60px auto 58px auto;
}

.form {
  gap: 1rem;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

#name,
#email,
#msg {
  width: 100%;
  margin: auto;
  padding: 16px;
  display: block;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
}

#name,
#email {
  height: 48px;
  border: 1px solid var(--gray-border);
}

#msg {
  height: 114px;
  border: 1px solid var(--main-green);
}

.developer-email {
  height: 189px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 100px;
  color: var(--paragraph-blue);
}

.last-bar {
  bottom: 8px;
  height: 5px;
  width: 134px;
  margin-bottom: 8px;
  border-radius: 10px;
  background: var(--last-bar-color);
  left: calc(50% - 134px / 2 - 0.5px);
}

header nav a:hover,
header nav a.active {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .headline {
    justify-content: center;
    background-image: url(images/background.png);
  }

  .form-responsive-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-btn {
    align-self: flex-end;
  }

  .only-movile {
    display: block;
  }

  .only-desktop {
    display: none;
  }

  header {
    margin: auto;
    margin-top: 1rem;
    width: calc(100% - 2rem);
    justify-content: space-between;
  }

  .form-input-container {
    flex-basis: 100%;
  }

  #work-grid,
  .about-grid {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .headline {
    justify-content: start;
    background-image: url(images/desktop-background.png);
  }

  .form-responsive-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer {
    background-position:
      bottom left,
      bottom right;
    background-repeat:
      no-repeat,
      no-repeat;
    background-size: 50%, 20%;
    background-image:
      url(images/bottom-left.png),
      url(images/bottom-right.png);
  }

  .only-movile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  header {
    gap: 2rem;
    justify-content: center;
  }

  .form-btn-align {
    align-self: start;
  }
}

.nav {
  gap: 70px;
  z-index: 1;
  display: flex;
  position: fixed;
  inset: 0 0 5rem 0;
  padding-top: 9rem;
  padding-left: 2rem;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 50px 50px;
}

.close-icon {
  opacity: 0.5;
  display: block;
  font-size: 3rem;
  position: absolute;
  inset: 0 1rem auto auto;
}

.big-font {
  font-weight: 800;
  font-size: 50px;
}

.grey-background {
  background-color: #e5e5e5;
}

.hide {
  display: none;
}

.outline {
  background-color: red;
}

.modal {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.5rem;
  max-height: 95%;
  position: fixed;
  background-color: white;
  transition: 200ms ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header .title {
  font-weight: 600;
  font-size: 1.25rem;
}

.close-button {
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
  background: none;
  font-weight: 100;
  color: #8f8f90;
  position: absolute;
  inset: 0.7rem 1.5rem auto auto;
}

#overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: 200ms ease-in-out;
  background-color: var(--overlay-bg-color);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.ls-btn-container {
  gap: 2rem;
  margin: auto;
  display: flex;
}

.work-card-img {
  max-width: 100%;
  max-height: 40vh;
}

#live {
  gap: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#source {
  gap: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-card-content p {
  padding-bottom: 1rem;
}
